<%= form_for(@requirement) do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	Iteration
	  <% iterations = Iteration.find(:all, :order => :id) %>
	  <%= f.collection_select :iteration_id, iterations, :id, :label %>
   </div>
  <div class="field">
	Story
	  <% stories = Story.find(:all, :order => :id) %>
	  <%= f.collection_select :story_id, stories, :id, :title %>
   </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
