<p id="notice"><%= notice %></p>

<p>
  <b>Iteration:</b>
  <%= @iteration.object_id %>
</p>

<p>
  <b>Story:</b>
  <%= @story.object_id %>
</p>

<p>
  <b>Description:</b>
  <%= @requirement.description %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back to Requirements', requirements_path %>
<%= link_to 'Back to Iterations', iterations_path %>
