<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  #<%= @story.id %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Estimate:</b>
  <%= @story.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @story.status %>
</p>

<p>
  <b>Iteration:</b>
  <%= @story.iteration_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back to Stories', stories_path %>
<%= link_to 'Back to Iterations', iterations_path %>
