<h2>Iterations</h2>

<ul>
	<% @iterations.each do |iteration| %>
		<li class="iterationLane">
			<h2 style="text-align:center;">Iteration #<%= iteration.label %></h2>		
			<div style="text-align:center">
				<%= link_to 'Show', iteration %> - 
				<%= link_to 'Edit', edit_iteration_path(iteration) %> - 
				<%= link_to 'Destroy', iteration, :confirm => 'Are you sure?', :method => :delete %>
			</div>
<br>
	<ul>
		<% iteration.stories.each do |story| %>
			<li class="storySticky" style="height:200px">
				<h2>#<%= story.id %> - <%= story.title %></h2>
				<!--div class="storyItem"><%= story.description %></div-->
				<div class="storyItem"><b>Estimate: </b><%= story.estimate %></div>  
				<div class="storyItem"><b>Status: </b><%= story.status %></div>
				<div class="storyItem"><b>Iteration: </b><%= story.iteration_id %></div>
				<div style="text-align:center"><%= link_to 'Show', story %> - <%= link_to 'Edit', edit_story_path(story) %> - <%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></div>
			</li>
		<% end %>
	</ul>
		</li>
<% end %>
<li>
	<div class="newItem"><%= link_to 'New Iteration', new_iteration_path %></li></ul>
</li>
</ul>

