<p id="notice"><%= notice %></p>

<h1>
  <b>Iteration #<%= @iteration.label %></b>
</h1>
<div style="margin-bottom:30px;">
	<%= link_to 'Edit', edit_iteration_path(@iteration) %> | <%= link_to 'Back', iterations_path %>
</div>

<ul>
<% @iteration.stories.each do |story| %>
  <li class="storySticky">
    <h2>#<%= story.id %> - <%= story.title %></h2>
    <div class="storyItem"><%= story.description %></div>
    <div class="storyItem"><b>Estimate: </b><%= story.estimate %></div>  
	<div class="storyItem"><b>Status: </b><%= story.status %></div>
	<div class="storyItem"><b>Iteration: </b><%= story.iteration_id %></div>
    <div style="text-align:center"><%= link_to 'Show', story %> - <%= link_to 'Edit', edit_story_path(story) %> - <%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></div>
  </li>
<% end %>
</ul>

