<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @iteration.id %>
</p>

<p>
  <b>Label:</b>
  <%= @iteration.label %>
</p>


<%= link_to 'Edit', edit_iteration_path(@iteration) %> |
<%= link_to 'Back', iterations_path %>
