<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href="//fonts.googleapis.com/css?family=Reenie+Beanie:regular&subset=latin" rel="stylesheet" type="text/css" >
  <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&subset=latin" rel="stylesheet" type="text/css" >
  <link href="//fonts.googleapis.com/css?family=Neucha:regular&subset=cyrillic" rel="stylesheet" type="text/css" >

</head>
<body>
<title><%= @pagetitle %></title>
<div id="wrapper">
	<div id="header"><div class="stickyLogo"><div class="logoTitle"><b>XP</b></div><p><b>Release Planning Game</b></p></div></div>
	<div id="menu">
    	<div class="menuItem" onclick="window.location = '<%= url_for :controller =>'project', :action => 'home' %>'">Home</div>
    	<div class="menuItem" onclick="window.location = '<%= url_for :controller =>'project', :action => 'cardwall' %>'">Cardwall</div>
    	<div class="menuItem" onclick="window.location = '<%= url_for :controller =>'project', :action => 'iterations' %>'">Iterations</div>   
    	<div class="menuItem" onclick="window.location = '<%= url_for :controller =>'stories', :action => 'index' %>'">Stories</div>    
    	<div class="menuItem" onclick="window.location = '<%= url_for :controller =>'project', :action => 'about' %>'">About</div>
  	</div>
	<div id="content"><%= yield %></div>
	<div id="footer">Time now is <%= Time.now%></div>
</div>
</body>
</html>
